.highLight{
	background:yellow;
}
.lowLight{
	background:#FFAD71;
}
.info {
	color:white;
	font-size: 22px;
}
.format {
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
table {
	width: 90%;
	border:5px solid #D5D5D5;
	background-color: #C8D4F6;
}
th, td {
	border:1px solid black;
	background-color: inherit;
}
body {
	background-color: black;
	text-align: center;
}
h1 {
	color: #FA4616;
}
hr {
	width: 60%;
}
