.highLight{
 background:yellow;
}
.info {
	color:red;
	font-size: 22px;
}
.format {
	height: auto;
  margin-left: auto;
  margin-right: auto;
}
table {
	width: 90%;
  border:1px solid black;
  background-color: white;
}
th, td {
  border:1px solid black;
  background-color: inherit;
}
body {
  background-color: black;
  text-align: center;
}
h1 {
  color:red;
}
