#format {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
#info {
  color: white;
  font-size: 8pt;
}
.highLight{
  background:yellow;
}
.lowLight{
  background:#FFC5AD;
}
.info {
  color:white;
  font-size: 22px;
}
.format {
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #E1E1E1;
  color: #000000;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
button {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: .7px .9px white;
}
table {
  width: 90%;
  border:5px solid #D5D5D5;
  background-color: #C8D4F6;
}
th, td {
  border:1px solid black;
  background-color: inherit;
}
body {
  background-color: black;
  text-align: center;
  font-family: 'Courier New', monospace;
  font-weight: bolder;
}
h1 {
  color: #FA4616;
}
hr {
  width: 60%;
}
img {
  width: 100%;
  margin-top: 70px;
}
footer {
  color: white;
  font-size: 10px;
  font-weight: bolder;
}
a {
  color:red;
}
